.base
  %h3 Help request messages
  .row
    - @help_requests.each do |help|
      .large-3.medium-3.columns
        = link_to help.title, new_workorder_path(help.id)
        %br
        = help.message
