/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.head {
  padding: 5px;
  text-align: center;
}
.footer {
    background-color: #23c1a0;
    color: white;
    padding: 2px;
    padding-right: 5px;
    text-align: right;
}

.stat_green {
    background-color: #C0FE92;
    color: #6AB136;
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:8px;
    color:#fff;
    line-height:30px;
    text-align:center;
}

.stat_yellow {
    background-color: #F8F38D;
    color: #CFBA1A;
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:8px;
    color:#fff;
    line-height:30px;
    text-align:center;
}

.stat_red {
    background-color: #FC8282;
    color: #C33333;
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:8px;
    color:#fff;
    line-height:30px;
    text-align:center;
}

.stat_blue {
    background-color: #96ECFE;
    color: #3E99AC;
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:8px;
    color:#fff;
    line-height:30px;
    text-align:center;
    position: relative;
}

.stat_grey {
    background-color: #6C6C6C;
    color: #D5D5D5;
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:8px;
    color:#fff;
    line-height:30px;
    text-align:center;
}

.card {
  width: 100%;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

th {
  width: 30%;
  background-color: #fefefe;
  vertical-align: top;
}

.card.work {
  width: 400px;
}

.alert {
   font-family: 'Julius Sans One', sans-serif;
   background-color: #f2dede ;
   border-color: #eed3d7 ;
   color: #b94a48 ;
   text-align: left;
}

.notice {
   font-family: 'Julius Sans One', sans-serif;
   background-color: #dff0d8 ;
   border-color: #d6e9c6 ;
   color: #468847 ;
   text-align: left;
}

.simple-calendar {
  width: 1024px;
  height: 600px;
}

.day {
  height: 140px;
  vertical-align: top;
  min-width:140px;
}

.today {
  background-color: #FC8282;
}

.cal {
  background-color: #158E07;
}

.row.facil {
  float: left
}

.large-2.medium-2.columns{
  width: 150px;
  text-align: center;
}

.large-2.medium-2.columns a:link {
  color: black;
}

.large-2.medium-2.columns a:hover {
  color: #666;
}

.large-3.medium-3.columns {
  padding: 10px;
  float: left;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.base{
  padding: 10px;
}

.large-4.medium-4.columns {
  padding: 4px;
}

.newh {
  padding: 4px;
  background-color: #444;
  color: #fff;
}


h4 {
  font-family: 'Julius Sans One', sans-serif;
}

ul.menu.menu-desktop {
  display: inline;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

